@tailwind components;
@tailwind utilities;

@keyframes blink {
  0,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes pop {
  0% {
    transform: rotate(-60deg) scale(0.05);
  }
  60% {
    transform: rotate(40deg) scale(2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

a {
  text-decoration: none;
}

.min-100dvh {
  min-height: calc(var(--vh, 1vh) * 100 - var(--offset-height, 0px));
}

button {
  border: none;
}
